body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
}

#drop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px dashed #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  color: #ccc;
  cursor: pointer;

  &.highlight {
    border-color: #666;
    color: #666;
  }
}

.uploadedFile{
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.submit-btn{
  margin-bottom: 50px;
  padding: 5px 20px;
  cursor: pointer;
}


pre{
  text-align: left;
  margin-left: 20px;
}

.delete-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;

  input{
    padding: 5px 8px;
  }
  
  button{
    padding: 5px 20px;
    cursor: pointer;
  }

}

.cards{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 40px 20px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  width: 200px;
  margin-bottom: 15px;
  // cursor: pointer;
  h4{
    margin: 0;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon-image{
  width: 32px;
  margin: 4px;
  margin-bottom: 8px;
  color: #666;
  cursor: pointer;;
}

.trash-icon{
  width: 24px;
  color: #666;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  &:hover{
    color: rgb(229, 46, 104);
  }
}